.background-img {
  background-image: url("images/01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: 200vh; */
  height: 100vh;
}

/* .carousel-item {
  margin-top: 53vh;
}

.carousel-control-prev,
.carousel-control-next {
  margin-top: 40vh;
} */

.carousel-text {
  word-spacing: 10px;
  letter-spacing: 10px;
  font-size: 15px;

}

.item {
  margin-top: 30vh;
  margin-left: 20vh;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background-color: rgba(145, 147, 148, 0);
  border: solid 2px rgb(255, 255, 255);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  color: white;
  text-align: center;
}

.owl-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -125px;
}

.carousel-text-2 {
  font-size: 40px;
  color: white;
}

.arkade-grp-text {
  word-spacing: 10px;
  letter-spacing: 10px;
  margin-top: 80px;
}

.positioning-img {
  width: 20vh;
  position: relative;
  left: 72%;
  bottom: 15vh
}

.about-us-txt {
  font-size: 30px;
  margin-left: 10px;
}

.about-us-title {
  margin-left: 10px;
}

.about-us {
  border-left: 9px solid rgb(255, 115, 0);
  margin-left: 100px;
}

.anout-us-para {
  text-align: justify;
  margin-left: 100px;

}

.vision-font {
  margin-left: 100px;
}

.sec-2-fa {
  font-size: 35px;
}

.our-projects {
  margin: 50px;
}

.line::after {
  content: "";
  /* display: block; */
  width: 130px;
  height: 5px;
  background: #191970;
  right: 630px;
  top: 68px;
  position: absolute;
}

.line {
  font-family: sans-serif;
  margin: 100px auto;
  color: #228B22;
  text-align: center;
  font-size: 30px;
  max-width: 600px;
  position: relative;
}

.buttons-our-proj {
  position: absolute;
  left: 1151px;
  top: 220%;
}

.img-txt {
  position: absolute;
  bottom: -1%;
  padding-left: 10px;
  color: #ED850A;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(0, 0, 2)
}

@media only screen and (max-width: 600px) {
  .carousel-text-2 {
    font-size: 20px;
    color: white;
    text-align: center;
  }

  .discover-btn {
    width: 100%;
  }

  .carousel-text {
    word-spacing: 10px;
    letter-spacing: 5px;
    font-size: 15px;
    text-align: center;

  }

  .item {
    margin-top: 30vh;
    margin-left: 0vh;
  }

  .arkade-grp-text {
    word-spacing: 10px;
    letter-spacing: 5px;
    margin-top: 80px;
  }

  .sec-2-img {
    width: 40vh;
    margin-left: 2px;
  }

  .positioning-img {
    width: 20vh;
    position: relative;
    left: 55%;
    bottom: 15vh
  }

  .about-us {
    border-left: 9px solid rgb(255, 115, 0);
    margin-left: 0px;
  }

  .anout-us-para {
    text-align: justify;
    margin-left: 18px;

  }

  .vision-font {
    margin-left: 0px;
  }

  .sec-2-p {
    padding-left: 0px;
  }

  .vision {
    padding-left: 25px;
  }

  /* .our-proj-img {
    width: 12vh;
  } */

  .our-proj-img {
    width: 11vh;
  }

  .line {
    display: none;
    visibility: hidden;
  }

  .buttons-our-proj {
    left: 42px;
    top: 284%;
  }

  .our-projects-heading-txt {
    text-align: center;
  }

  .img-txt {
    padding-left: 10px;
    color: #ED850A;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(0, 0, 2);
    font-size: 10px;
  }


}